<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Creer Votre BD - DMS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="../../assets/images/favicon.png" rel="icon">
    <link href="../../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/style.css" rel="stylesheet" type="text/css">
</head>
<body class="bg-white w">
<div id="headerTitle" class="card-header text-center  mt-2 mb-5 pb-3">
    <span class="text-white">Commencer par écrire le nom de la base de données</span>
    <a href="../../index.php">
        <button class="btn btn-outline-light btn-sm float-left">Accueil</button>
    </a>
</div>
<form class="form-inline text-white  mw-100"  method="get" id="DbnameForm" action="../controller/DbnameBuilder.php">
    <span class="alert alert-danger text-center w-50">⚠️ si le nom existe déjà il sera remplacé par celui-ci en cas de validité!</span>
    <div class="m-2 alert alert-info w-50">
        <span class="text-center"><i>Restrictions de nommage des bases de données MySQL :</i> </span>
        <ul>
            <li>Ne peut pas dépasser 64 caractères.</li>
            <li>Ne peut pas contenir / \ ou . caractères.</li>
            <li>Ne peut pas contenir de caractères non autorisés dans les noms de fichiers.</li>
            <li>Impossible de se terminer par des espaces.</li>
        </ul>
    </div>
    <fieldset class="m-1 alert alert-primary  text-center  w-50">
        <label for="db" class="col-form-label text-dark">Nom de Base De Donneés</label>
        <input type="text"  placeholder="Saisir le nom de database" class=" form-control w-100 datafield"
               id="db" name="db" required>
    </fieldset>
    <button type="submit" id="valider" class="w-50 btn btn-success m-4">Valider</button>
</form>


<footer class="position-fixed  bg-white" id="footer">
    <div class="p-3">
        <div class="container text-center ">
            <p class="text-white d-inline m-4 text-left ">Realiser par : MHAND MAOUS</p>
            <p class="text-white text-center m-4 d-inline">Groupe tp : G4 - SMI6</p>
            <p class="text-white  text-right m-4 d-inline">CNE : 17-01590008</p>
        </div>
    </div>
</footer>

<script src="../../assets/js/bootstrap.js"></script>
<!--<script src="../assets/js/scripzdqzedt.js"></script>-->
</body>
</html>