/*body{*/
/*    background-color: #909f90;*/
/*}*/
.header{
    font-size: 2rem;
    color: #c1efd4;
    text-align: center;
    margin-top: 10rem;

}
.banner{
    display: inline-block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
/*#DbnameForm{*/
/*    position: absolute;*/
/*    top: 20rem;*/

/*    align-items: center;*/
/*    padding: 2rem 0;*/
/*    justify-content: center;*/
/*    background-color: rgba(4, 62, 4, 0.64);*/
/*    width: 100%;*/
/*    height: auto;*/
/*}*/
#headerTitle {
    width: 100%;
    height: 4rem;
    position: fixed;
    top: 1px;
    font-size: larger;
    color: #d9f6ec;
}
.form-container{
    padding:10px;
    padding-bottom:25px;
    margin:0 auto;
    margin-top:20px;
    width:50%;
    border-radius:20px;
    background-color: #ececec;
}

.add-one{
    color:green;
    text-align:center;
    font-weigth:bolder;
    cursor:pointer;
    margin-top:10px;
}

.delete{
    color:white;
    background-color:rgb(231, 76, 60);
    text-align:center;
    margin-top:6px;
    font-weight:700;
    border-radius:5px;
    min-width:20px;
    cursor:pointer;
}

#singlebutton{
    width:100%;
    margin-top:20px;
}

.title{
    text-align:center;
    font-size:40px;
    margin-bottom:40px;
}

.dynamic-element{
    margin-bottom:0px;
}